body{
    margin: 0;
    font-family: sans-serif;
}
h2{
    margin: 0;
}

/* navbar */
.navbar{
    width: 100%;
    height: 60px;
    background-color: aqua;
    color: rgb(85, 87, 88);
    
}

.app-name{
    width:100px;
    margin:auto;
    padding-top: 10px;   
}

.app{
  width: 100%;
}

/* navigator component */
.navigator{
    width:100%;
    height:30px;
    display: flex;
    flex-wrap: wrap;
    background-color:lightcoral;
    justify-content: center;

}
.navigator-route{
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
}


/* home */

.home{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.add-task-btn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  right: 30px;
  bottom: 30px;
  transition: all .3s ease-in-out;cursor: pointer;
}
.add-task-btn:hover{
  transform: scale(1.05);

}
.card{
  margin: auto;
  max-width: 320px;
  /* height: 100px; */
  background-color: azure;
  padding:0 0 10px 10px;
  box-sizing: border-box;
  border: 1px solid yellow;
  position: relative;

}
.habit-day{
  margin: 0px;
  /* display: inline-block; */
  color: grey;
  border: 1px solid greenyellow;
}

.habit-time{
  margin: 0px;
  display: inline-block;
  color: grey;
  border: 1px solid greenyellow;
  margin-right: 20px;
}
.delete-btn{
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.2);
}

